.detailContainer {
  margin: 20px auto;
  width: 95%;
  border-radius: 30px;
  padding: 3%;
}

.title {
  background-color: aliceblue;
  margin: auto;
  display: inline;
  padding: 5px;
  justify-content: center;
  border-radius: 5px;
}

.dataContainer {
  border-radius: 5px;
  margin: auto;
  width: 85%;
  background-color: aliceblue;
  font-weight: bold;
}

.imageContainer {
  background-color: aliceblue;
  border-radius: 5px;
  margin: auto 5%;
  max-height: 90%;
  height: 90%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.img {
  max-width: 90%;
  max-height: 90%;
}

.typesContainer {
  background-color: aliceblue;
  margin: auto;
  width: 93%;
  border-radius: 5px;
}

.button {
  display: block;
  margin: auto;
  border: none;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 5px;
  font-size: medium;
  transition: 0.5s;
}
.button:hover {
  transition: 0.5s;
  background-color: rgb(170, 175, 180);
}
