.image {
  width: 71%;
  margin: 20px;
  transition: 0.5s;
}

/* .image:hover {
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  transition: 0.5s;
} */

.articleContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-grow: 1;
  margin: auto;
  width: 80%;
}

.article {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5em;
}

.title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 3em;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 2em;
  }
  .article {
    font-size: 1em;
  }
}
